.copy-container {
    position: relative;
    display: inline-block;
}

.copy-icon {
    position: absolute;
    right: -25px; /* Ajusta esta propiedad según la posición que desees */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.copy-container:hover .copy-icon {
    opacity: 1;
}
