.header {
    background: #001529;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-height: 100%;
    max-width: 100%; 
    object-fit: contain;
}

.ant-layout-content {
    margin-top: 64px; /* La altura del Header */
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* Ajustar el menú */
.ant-menu-horizontal {
    line-height: 64px; /* Asegura que el menú esté alineado con el header */
    flex: 1;
}
