
.site-layout-background {
    background: #fff;
}

.trigger-button {
    padding: 10px;
    text-align: center;
    background: #001529;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trigger-icon {
    color: #fff;
    font-size: 18px;
}
/* home.css */

.home-container {
    padding: 24px;
}

.home-title {
    font-size: 24px;
    font-weight: bold;
}

.home-description {
    font-size: 16px;
    color: #555;
}

.home-row {
    margin-top: 24px;
}

.home-card {
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    font-size: 14px; /* Tamaño de la letra para todo el contenido */
    background-color: #f8f8f8;
}

.home-card:hover {
    transform: translateY(-5px);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Tamaño de la letra para el header */
}
:where(.css-dev-only-do-not-override-d2lrxs).ant-card .ant-card-body {
    padding: 16px;
    border-radius: 0 0 8px 8px;
}
.ant-card-body {
    padding: 16px; /* Ajusta este valor al padding que prefieras */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center;
}

.card-icon {
    font-size: 24px;
    margin-right: 8px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.div1 {
    grid-area: 1 / 2 / 3 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div2 {
    grid-area: 3 / 1 / 6 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div3 {
    grid-area: 3 / 4 / 6 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.numero_servicios{
    font-size: 26px;
}

.card-icon.blue {
    color: #1890ff;
}

.card-icon.yellow {
    color: #faad14;
}

.card-icon.pink {
    color: #eb2f96;
}
