.hover-row-servicios:hover {
    background-color: #f0f0f0; /* Cambia este color según tu preferencia */
    transition: background-color 0.3s ease; /* Suaviza la transición del color */
    border-radius: 5px;
}


