.hover-row-servicios:hover {
    background-color: #f0f0f0; /* Cambia este color según tu preferencia */
    transition: background-color 0.3s ease; /* Suaviza la transición del color */
    border-radius: 5px;
}

.spin-container {
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura completa de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
}

.spin {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
