


.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
    margin-right: 8px;
}

.ant-menu-item {
    display: flex;
    align-items: center;
}



.ant-layout-sider-trigger {
    display: none !important;
}

/* Asegurarse de que no quede espacio vacío o una franja después de quitar el botón */
.ant-layout-sider {
    border-bottom: none;
}
:where(.css-dev-only-do-not-override-d2lrxs).ant-layout .ant-layout-sider {
    background: none;
}
